@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
html, body, #root {
    @apply h-full;
  }

@import "tailwindcss";


@theme {
    --color-theme-primary: #00AEEF;
    --color-theme-secondary: #002B45;
    --color-theme-accent: #FDC500;
    --color-theme-background: #F8F9FA;
    --color-theme-text: #2E2E2E;
}




