@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap&family=WDXL+Lubrifont+TC&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
html, body, #root {
    @apply h-full;
}



@import "tailwindcss";


@theme {
    --color-theme-normal: #E63946;  /* Vermilion Red - primary accent */
    --color-theme-light: #F8F4E3;   /* Soft Warm Beige - background */
    --color-theme-medium: #8CB369;  /* Wasabi Green - secondary accent */
    --color-theme-dark: #264653;    /* Indigo Blue - nav/highlights */
    --color-theme-text: #2E2E2E;    /* Rich Charcoal - main text */
}




