@import "tailwindcss";


@theme {
    --color-theme-primary: #00AEEF;
    --color-theme-secondary: #002B45;
    --color-theme-accent: #FDC500;
    --color-theme-background: #F8F9FA;
    --color-theme-text: #2E2E2E;
}